<?xml version="1.0" ?>
<model>
    <name>cadriano</name>
    <version>1.0</version>
    <sdf version="1.6">planar2D_model.sdf</sdf>
    <author>
        <name>Mirko Piani</name>
        <email>mirko.piani@gmail.com</email>
    </author>
    <description>Cadriano farm digital twin</description>
</model>
